/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

/* login, logout, signup and splash page styling */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');  

h1 { 
    font-size: 20px;
}
.application{ 
    position: relative;
    padding-bottom: 100px;
}

.application footer{ 
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 100%;
}

.welcome-greeting h2{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 26px; 
    color: black;
}
.welcome-greeting p{ 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    color: black;
}
 
h4 { 
    font-size: 20px;
}
 
header { 
    background-color: white;
    display: flex;
    justify-content: space-between; 
    padding: 10px; 
    margin: 0px 40px 0px 40px; 
}

.header-link { 
    text-decoration: none; 
    font-family: 'Noto Sans KR';
    font-weight: bold;
    color: #0850eb;
}


.feed-btn a:hover, a:hover{ 
    color: rgba(var(--color-highlight), 1.5)
}

.login-form-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background-color: white;
}

.login-form-box{ 
    height: 320px;
    width: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 136px;
    margin-bottom: 146px; 
    color: #333;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.signup-btn{ 
    border-radius: 6px;
}

.signup-form-container{ 
    display: flex;
    justify-content: center;
    width: 400px;
    height: 650px;
    background-color: white;
    border-radius: 10px;
    margin: 15px 0px;
}

.signup-page { 
    display: flex;
    justify-content: center;
    background-color: rgb(238, 241, 241);
}

.errors{ 
    color: red;
}

.header-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    background-color: #0a66c2;
    color: white;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.header-button:hover{ 
    opacity: 0.8;
}

.header-name{ 
    margin: 0px 5px 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: rgb(102, 102, 102);
}
.header-name img{ 
    height: 22px;
    width: 22px;
    margin: auto;
    border-radius: 30px;
}

.session-submit:hover{ 
    transform: scale(.98);
    filter: brightness(85%); 
}

a { 
    text-decoration: none;
    color: rgb(102 102 102);
    padding: 5px;
    font-family: 'Noto Sans KR';
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.fa{ 
    margin: auto;
}

.login-signup{ 
    display: flex;
}
.header-group{ 
    display: flex;
}

input[type='text'], 
input[type='password'], 
textarea { 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 3px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.session-submit {
    width: 100%;
    background-color:#0a66c2;
    color: white;
    padding: 10px 0; 
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.session-sbm-btn{ 
    text-align: center;
    font-size: 14px;
}
.session-submit:focus{ 
    outline: none;
    box-shadow: none;
}

.home-body h1{
    font-size: large;
    color: #2977c9;
    font-weight: 200;
    font-size: 3rem;
}

.home-body h3{
    font-size: small;
    color: #111b27;
    font-weight: 150;
    font-size: 2rem;
    
}

.home-body{
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    margin: 26px 30px 0px 30px;
}

.welcome-content{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}   

.home-messages, .welcome-message{ 
    margin-left: 20px;
}

.signup-form-box { 
    margin: 15px 10px;
    height: auto;
}

.signup-btn{ 
    padding: 3px;

}
.signup-btn:hover { 
    background-color: rgb(202, 202, 202);
}

.login-btn{ 
    padding: 3px;
    border:1px solid #0a66c2; 
    border-radius: 20px;
    margin-left: 10px;
}

.login-btn a{ 
    color: 0a66c2;
    font-weight: 500;
    padding: 2px 12px 0px 12px;
}

.login-btn:hover { 
    background-color:  #8fb0f5;
}

/* FOOTER */

footer img{
    height: 80px;
    width: 250px; 
}
.contact-footer{ 
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.contact-footer h3{ 
    font-family: 'Noto Sans KR'; 
    font-size: 10px;
}

.personal-contact-card{ 
    display:flex; 
    flex-direction: column;
    justify-content: center;
}
.personal-contact-card>img{ 
   height: 60px;
   width: 80px;
   border-radius: 20%;
   padding: 2px;
   margin: auto; 
}

