/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

/* login, logout, signup and splash page styling */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');  

h1 { 
    font-size: 20px;
}
 
.welcome-greeting {
    font-family: Cambria;  
    font-size: 30px; 
    font-weight: bold;
    color:#2977c9;
}
 
h4 { 
    font-size: 20px;
}
 
header { 
    background-color: white;
    display: flex;
    justify-content: space-between; 
    padding: 10px; 
}

.header-link { 
    text-decoration: none; 
    font-family: 'Noto Sans KR';
    font-weight: bold;
    color: #0850eb;
}

.feed-btn a { 
    font-size: 13px;  
}
.feed-btn a:hover{ 
    opacity: .8;
}

.login-form-container {
    display: flex; 
    justify-content: center;
    text-align: center;
    background-color: white;
    color: #333;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin: 15px 680px;
    padding: 40px;
}

.signup-form-container{ 
    display: flex;
    justify-content: center;
    width: 400px;
    height: 650px;
    background-color: white;
    border-radius: 10px;
    margin: 15px 0px;
}

.signup-page { 
    display: flex;
    justify-content: center;
    background-color: rgb(238, 241, 241);
}

.errors{ 
    color: red;
}

.header-button {
    margin: auto;
    padding: 10px 30px;
    cursor: pointer;
    background-color: rgb(23, 92, 219);
    border: none; 
    border-radius: 5px;
    color: white;
}

.session-submit:hover{ 
    transform: scale(.98);
    filter: brightness(85%); 
}

    /* .login-input{ 
        border: 0;
        border-bottom: 1px solid #b4becb;
        width: 100%;
        font-size: 16px;
        padding: 3px;
    } */

a { 
    text-decoration: none;
    color: black;
    padding: 5px;
    font-family: 'Noto Sans KR'; 
}

.login-signup{ 
    display: flex;
}
.header-group{ 
    display: flex;
}

input[type='text'], 
input[type='password'], 
textarea { 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 3px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.session-submit { 
    width: 100%;
    background-color:blue;
    color: white;
    padding: 10px 0; 
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.session-submit:focus{ 
    outline: none;
    box-shadow: none;
}

.home-body h1{
    font-size: large;
    color: #2977c9;
    font-weight: 200;
    font-size: 4rem;
}

.home-body h3{
    font-size: small;
    color: #111b27;
    font-weight: 150;
    font-size: 2rem;
    
}

.home-body{
    display: flex;
    justify-content: space-evenly;
    
}

.welcome-content{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}   

.home-messages, .welcome-message{ 
    margin-left: 20px;
}

.signup-form-box { 
    margin: 15px 10px;
    height: auto;
}

.signup-btn{ 
    padding: 3px;

}
.signup-btn:hover { 
    background-color: rgb(202, 202, 202);
}

.login-btn{ 
    padding: 3px;
}

.login-btn:hover { 
    background-color:  #0850eb;
}