@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* POST FORM CONTAINER- FEED SECTION*/
.feed-page { 
    height: 88vh;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    background-color: rgb(243, 242, 239); 
}

.feed-section {
    flex-grow: 1.6;
    display: flex;
    flex-direction: column;
    margin: 30px 5px 5px 24px;

}

.post-box { 
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 16px;
}

.feedctn { 
    flex-grow: 1;
}

.news-section { 
    flex-grow: 1;
}

.post-field { 
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}
textarea { 
    resize: none;
}
.post-upload-btn { 
    display: flex;
    justify-content: space-between;
}
.post-btn{ 
    font-size: 16px; 
    cursor: pointer;
    border-radius: 20px;
    display:block;
    background-color: #0a66c2;
    color: white;
    border: 2px solid #0a66c2;
    transition-duration: 0.4s;
    margin-bottom: 10px;
    padding: 5px 10px; 
}

.post-btn:hover{ 
    background-color: rgba(255, 255, 255, 0.856);
    color: black;
}

.post-text { 
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}
.post-img-preview img { 
    height: 250px;
    width: 250px;
}

/* PREVIEW POST IMG */

.img-preview-box{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
}

.img-preview-box h3{ 
    font-size: 14px;
}



/* USER SIDE CARD CONTAINER */

.full-name h1{ 
    font-size: 26px;
}

.profile-card {
    flex-grow: .1;
    text-align: center; 
    width: 280px;
    height: 250px;
    background-color: white;
    padding: 10px 15px;
    margin: 15px 10px;
    border-radius: 10px;
}

.profile-card-picture img{ 
    width: 120px;
    border-radius: 50%;
}

.company-card-picture img{
    width: 140px;
    border-radius: 50%;
    height: 120px;
}

.profile-card-info { 
    font-family: 'Rubik', sans-serif;
}
.profile-card-info .full-name { 
    padding: 10px 0px;
}

.profile-card-info > .profile-card-details{ 
    color: rgb(129, 129, 129);
}

.profile-card-details > h3 { 
    padding-bottom: 5px;
}

/* POST INDEX ITEMS */

.post-contents { 
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 6px;
}

.post-header{ 
    display: flex;
    justify-content: space-between;
}

.post-er-info{
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

.post-img-ctn{ 
    display: flex;
    justify-content: center;
}

.post-contents img { 
    max-width: 100%;
}

.post-items img{ 
    width: 250px;
}

.photo-icon{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.photo-icon:hover{ 
    background-color: rgb(233, 230, 230);
}
.upload-photo-icon>input{ 
    display: none;
}
.upload-photo-icon img{ 
    cursor: pointer;
    width: 22px;
    height: 18px;
    margin: auto;
    color: rgb(112, 181, 249);
}
.photo-icon p{ 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112, 181, 249);
    margin-left: 5px;
}

.upload-photo-icon img:hover{ 
    opacity: 0.9;
}

.user-img-post { 
    height: 30px;
    width: 30px;
}

.user-img-post img{ 
    height: 30px;
}

.user-img-post img { 
    border-radius: 50%;
}

.post-er-id{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 4px;
}

.post-er-id a{ 
    text-decoration: none;
    color: black;
}

.post-er-id p:nth-child(2){ 
    color:rgb(94, 94, 94); 
    font-size: smaller;
}

.post-er-id a p{ 
    margin-bottom: 2px;
}

.edit-post-btn, .delete-post-btn { 
    height: 22px;
    width: 60px;
    margin-bottom: 1px;
    cursor: pointer;
    border-radius: 12px;
    display:block;
    background-color: rgba(255, 255, 255, 0.856);
    color: black;
    border: 2px solid #0850eb;
    transition-duration: 0.4s;
}

.delete-post-btn, .delete-job-btn, .delete-edu-btn { 
    height: 22px;
    width: 60px;
    cursor: pointer;
    border-radius: 12px;
    display:block;
    background-color: rgba(255, 255, 255, 0.856);
    color: black;
    border: 2px solid #eb0808;
    transition-duration: 0.4s;
}

.edit-post-btn:hover, .delete-post-btn:hover, .add-edu-btn:hover, .add-job-btn:hover{ 
    background-color: #0850eb;
    color: white;
}

.delete-post-btn:hover, .delete-job-btn:hover, .delete-edu-btn:hover { 
    background-color: #eb0808;
    color: white;
}

.update-post-btn { 
    cursor: pointer;
    border-radius: 12px;
    display:block;
    background-color: #0850eb;
    color: white;
    border: 2px solid #0850eb;
    transition-duration: 0.4s;
    float: right;
}

.update-post-btn:hover { 
    background-color: rgba(255, 255, 255, 0.856);
    color: black;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-child {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    padding: 2px; 
}

.edit-post-form{ 
    padding: 15px 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.edit-post-modal-header{ 
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.edit-post-form textarea { 
    border: none; 
}

.close-x-ctn {
    text-align: center;
    height: 20px;
    width: 20px; 
    border-radius: 50%;
    padding: 2px; 
    cursor: pointer;
}

.close-x-ctn:hover{ 
    background-color: rgb(207, 207, 207);
}