@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* POST FORM CONTAINER- FEED SECTION*/
.feed-page { 
  display: flex;
  justify-content: flex-start;  
}

.feed-section {
    width: 500px;
    padding-top: 15px; 
    padding-left: 30px;
}

.post-field { 
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}
textarea { 
    resize: none;
}
.post-upload-btn { 
    display: flex;
    justify-content: space-between;
}
.post-btn{ 
    font-size: 16px; 
    cursor: pointer;
    border-radius: 20px;
    display:block;
    background-color: #0850eb;
    color: white;
    border: 2px solid #0850eb;
    transition-duration: 0.4s;
    margin-bottom: 10px;
    padding: 5px 10px; 
}

.post-btn:hover{ 
    background-color: rgba(255, 255, 255, 0.856);
    color: black;
}

.post-text { 
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}
.post-img-preview img { 
    height: 300px;
    width: 250px;
}

/* USER SIDE CARD CONTAINER */

.profile-card {
    text-align: center; 
    width: 280px;
    height: 250px;
    background-color: white;
    padding: 10px 15px;
    margin: 15px 10px;
    border-radius: 10px;
}

.profile-card-picture img{ 
    width: 120px;
    border-radius: 50%;
}

.profile-card-info { 
    font-family: 'Rubik', sans-serif;
}
.profile-card-info .full-name { 
    padding: 10px 0px;
}

.profile-card-info > .profile-card-details{ 
    color: rgb(129, 129, 129);
}

.profile-card-details > h3 { 
    padding-bottom: 5px;
}

/* POST INDEX ITEMS */

.post-contents { 
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 6px;
}

.post-contents img { 
    max-width: 100%;
}

.upload-photo-icon>input{ 
    display: none;
}
.upload-photo-icon img{ 
    cursor: pointer;
    width: 25px;
    height: 20px;
}

.upload-photo-icon img:hover{ 
    opacity: 0.9;
}

.user-img-post { 
    height: 30px;
    width: 30px;
}
.user-img-post img { 
    border-radius: 50%;
}

.edit-post-btn, .delete-post-btn { 
    height: 22px;
    width: 60px;
    cursor: pointer;
    border-radius: 12px;
    display:block;
    background-color: rgba(255, 255, 255, 0.856);
    color: black;
    border: 2px solid #0850eb;
    transition-duration: 0.4s;
}

.edit-post-btn:hover, .delete-post-btn:hover{ 
    background-color: #0850eb;
    color: white;
}

.update-post-btn { 
    cursor: pointer;
    border-radius: 12px;
    display:block;
    background-color: #0850eb;
    color: white;
    border: 2px solid #0850eb;
    transition-duration: 0.4s;
    float: right;
}

.update-post-btn:hover { 
    background-color: rgba(255, 255, 255, 0.856);
    color: black;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-child {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    padding: 2px; 
}

.edit-post-form{ 
    padding: 15px 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.edit-post-modal-header{ 
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.edit-post-form textarea { 
    border: none; 
}

.close-x-ctn {
    text-align: center;
    height: 20px;
    width: 20px; 
    border-radius: 50%;
    padding: 2px; 
    cursor: pointer;
}

.close-x-ctn:hover{ 
    background-color: rgb(207, 207, 207);
}