.connections-page{
    background-color: #f3f2ef; 
    height: 89vh;
    width: 100vw; 
}

.listed-users{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.all-users{ 
    height: auto;
    width: 65vw; 
    background-color: white;
    border: 2px solid gray;
    border-radius: 20px;
    margin: 20px auto;
    padding: 12px;
}

.all-users h2{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.user-item{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 180px;
    width: 160px;
    margin: 6px 8px; 
    padding: 4px;
}

.user-item:hover{ 
    box-shadow: 0 0 8px rgba(33,33,33,.2); 
}

.name-pos-ctn{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.name-pos-ctn h3{ 
    margin-top: 4px;
}

.user-item button{ 
    color: gray;
    height: 32px;
    width: 70px; 
    border: 1px solid #0a66c2;
    border-radius: 20px;
    cursor: pointer;
    display:block;
    background-color: white;
}

.user-item button:hover{ 
    background-color: #acc9e6;
}

.name-pos-ctn{ 
    font-family: Arial, Helvetica, sans-serif;
}

.name-pos-ctn a{
    text-decoration: none;
    color:black; 
}

.name-pos-ctn h3{ 
    color: rgb(109, 108, 108);
    font-size: 12px;
}