body { 
    background-color: #f3f2ef;
}

.user-profile-page{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.user-presentational{ 
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
    background-color: white;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    width: 68%;
    margin:auto;
    margin-top: 50px; 
}

.user-profile-page .fullname{ 
    font-size: 2.4rem;
    font-family: 'Noto Sans KR';
}

.fullname h1{ 
    margin-top: 20px;
}

.header-name{ 
    margin: 5px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:650;  
    
}

.user-info h3{ 
    margin: 5px;
}

.profile-about{
    padding: 24px; 
    margin: auto;
    margin-top: 16px;
    background-color: white;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    width: 67.5%;
}

.user-education-ctn, .user-jobs-ctn{ 
    flex-direction: row;
    padding: 8px; 
    margin: auto; 
    margin-top: 10px;
    background-color: white;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    width: 70%;
}

.user-job-ctn-header, .user-edu-ctn-header{ 
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 5px 24px; 
}

.add-edu-btn, .add-job-btn { 
    height: 20px;
    cursor: pointer;
    border-radius: 12px;
    display:block;
    background-color: rgba(255, 255, 255, 0.856);
    color: black;
    border: 2px solid #0850eb;
    transition-duration: 0.4s;
    align-content: center;
}

.profile-about h3, .user-education-ctn h2, .user-jobs-ctn h2{ 
    font-size: 18px;
    font-family: 'Noto Sans KR';
    margin-bottom: 15px;
}

.user-education-ctn .institution-name, .user-jobs-ctn .work-title{ 
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.user-education-ctn .edu-info-cnt, .user-jobs-ctn .job-info-ctn{ 
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.institution-name h3, .edu-info-ctn p, .work-title h3, .job-info-ctn p{ 
    margin-bottom: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-pic{ 
    height: 100px;
    width: 100px;
    float: left;
}

.user-presentational img{
    width:100%; 
    height: 100%; 
}

.job-index-items, .edu-index-items{ 
    padding: 0px 24px 10px 24px;
}

/* User Form CSS */

.edit-profile-btn { 
    cursor: pointer;
    margin: 20px auto;
    padding: 5px 10px;
    display:block;
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: black;
    border: 2px solid #0850eb;
    transition-duration: 0.4s;
    border-radius: 20px;
}

.edit-profile-btn:hover { 
    background-color: #0850eb;
    color: white; 
}


.edit-user-form h2 { 
    margin: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.edit-user-form{
    background-color: white; 
    margin: 20px 200px;
    padding: 5px; 
    border-style: double;
    border-color: black;
    border-width: 5px;
    border-spacing: 1px;
    border-radius: 5px;
}

/* User Experience and Edu form */

.add-job-form, .add-edu-form{
    padding: 2px 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.job-form-header, .edu-form-header{ 
    display:flex; 
    justify-content: space-between;
    font-size: 20px;
    padding: 24px 12px;
    border-bottom: 1px solid gray; 
}

.job-form-header .close-x, .edu-form-header .close-x{ 
    cursor: pointer;
    color: rgb(114, 113, 113);
}

.add-job-form-contents, .add-edu-form-contents{
    padding: 24px 12px;
}

.add-job-form-contents label, .add-edu-form-contents label { 
    font-size: small;
    color: rgb(143, 140, 140);
}

.add-job-form-contents input, .add-edu-form-contents input{
    border: none;
    background: none;
    height: 25px;
}
.add-job-form-contents input:hover, .add-edu-form-contents input:hover{ 
    border: 1px solid black;
}

.add-job-form-contents textarea{ 
    border: .5px solid rgb(143, 140, 140);
    background: none;
}

.add-job-form-contents textarea:hover{ 
    border: 1px solid black;
}

.add-job-form-contents .save-job-btn, .add-edu-form-contents .save-edu-btn{
    margin: 20px 0px;
    cursor: pointer;
    float: right;  
    border-radius: 14px;
    color: white;
    border: 1px solid #0a66c2; 
    background-color: #0a66c2;
}